<div id="antoid" style="display:none;">
    <div class="df_div2">
        <div class="de_title1 b_dictHighlight">n.</div>
        <div class="col_fl"><a href="/dict/search?q=front&amp;FORM=BDVSP6&amp;cc=cn" h="ID=Dictionary,5358.1"><span
                class="p1-4 b_alink">front</span></a></div>
    </div>
    <div class="df_div2">
        <div class="de_title1 b_dictHighlight">v.</div>
        <div class="col_fl"><a href="/dict/search?q=carry%20out&amp;FORM=BDVSP6&amp;cc=cn"
                               h="ID=Dictionary,5363.1"><span class="p1-4 b_alink">carry out</span></a><span>,</span><a
                href="/dict/search?q=advance&amp;FORM=BDVSP6&amp;cc=cn" h="ID=Dictionary,5364.1"><span
                class="p1-4 b_alink">advance</span></a></div>
    </div>
    <div class="df_div2">
        <div class="de_title1 b_dictHighlight">adj.</div>
        <div class="col_fl"><a href="/dict/search?q=same&amp;FORM=BDVSP6&amp;cc=cn" h="ID=Dictionary,5366.1"><span
                class="p1-4 b_alink">same</span></a></div>
    </div>
</div>
<style>
    div{
        size: 1.5rem;
        align-self: center;
        align-items: center;
        opacity: 50%;
        align-self: flex-start;
        flex-direction: column;
    }
</style>